.footer {
    background-color: black;
    color: white;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    margin-top: 50px;
  }
  
  .footer-logo {
    width: 122px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .footer-text {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    text-align: center;

  }
  
  @media (max-width: 767px) {
    .footer {
      width: 100vw; /* prend toute la largeur de l'écran */
      padding: 30px 20px 20px;
      margin-top: 30px;
      border-radius: 0; /* on enlève les coins arrondis */
      box-sizing: border-box; /* évite que le padding déborde */
    }
  
    .footer-logo {
      width: 100px;
      margin-bottom: 10px;
    }
  
    .footer-text {
      font-size: 12px;
      text-align: center;
    }
  }
  